div, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 30px 0; }

p, a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-size: 2rem; }

p {
  color: #fff;
  margin-bottom: 30px; }

aside {
  width: 40%; }

html {
  font-size: 62.5%; }

h1 {
  font-size: 60px;
  font-size: 6.0rem; }

h2 {
  font-size: 33px;
  font-size: 3.3rem; }

h3 {
  font-size: 24px;
  font-size: 2.4rem; }

body {
  background-color: #000; }

.clearfix {
  overflow: auto;
  zoom: 1; }

.text-selected {
  color: #659DB5;
  font-size: 22px !important;
  font-size: 2.2rem !important; }

.full-wrapper {
  width: 90%;
  margin: 0 auto; }

.cast-wrapper {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .cast-wrapper {
      margin-left: 25%;
      width: 70%; } }
  .cast-wrapper aside {
    border-left: 3px solid #659DB5;
    float: right;
    line-height: 1.5;
    padding: 0 8%;
    width: 90%; }
    @media screen and (min-width: 1200px) {
      .cast-wrapper aside {
        padding: 0 6%;
        width: 60%; } }

.cast-members {
  display: inline-block; }
  .cast-members h3 {
    cursor: pointer;
    font-size: 18px;
    font-size: 1.8rem;
    margin: 0 0 20px; }
  .cast-members h3:hover {
    color: #659DB5; }

.crew-wrapper {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .crew-wrapper {
      margin-left: 14%;
      width: 75%; } }
  .crew-wrapper aside {
    border-left: 3px solid #659DB5;
    float: right;
    line-height: 1.5;
    padding: 0 8%;
    width: 90%; }
    @media screen and (min-width: 1200px) {
      .crew-wrapper aside {
        padding: 0 6%;
        width: 45%; } }

.crew-members {
  display: inline-block; }
  .crew-members h3 {
    cursor: pointer;
    font-size: 18px;
    font-size: 1.8rem;
    margin: 0 0 20px; }
  .crew-members h3:hover {
    color: #659DB5; }

.vertical-text {
  display: block;
  left: 0;
  position: absolute;
  top: 25%;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.rotate-wrapper {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .rotate-wrapper {
      margin-left: 40%;
      width: 60%; } }
  @media screen and (min-width: 1200px) {
    .rotate-wrapper h2 {
      float: left;
      position: relative;
      width: 110px; } }
  @media screen and (min-width: 1200px) {
    .rotate-wrapper span {
      display: inline-block;
      left: -50px;
      position: absolute;
      top: 45px;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      white-space: nowrap; } }
  .rotate-wrapper aside {
    border-left: 3px solid #659DB5;
    float: left;
    line-height: 1.5;
    padding: 0 8%;
    width: 90%; }
    @media screen and (min-width: 1200px) {
      .rotate-wrapper aside {
        padding: 0 6%;
        width: 55%; } }

.gallery {
  position: relative;
  text-align: center; }
  .gallery p {
    font-size: 24px;
    font-size: 2.4rem; }

.image-container {
  box-sizing: border-box;
  display: inline-block;
  height: 0px;
  margin: 0 10% 2%;
  overflow: hidden;
  position: relative;
  padding-top: 45%;
  width: 60%; }
  .image-container img {
    bottom: 0px;
    display: block;
    left: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%; }
    @media screen and (min-width: 1200px) {
      .image-container img {
        margin: 0; } }

.gallery-range {
  background-color: #A8A9AD;
  height: 4px;
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 90%;
  /* Specific width is required for Firefox. */ }
  @media screen and (min-width: 1200px) {
    .gallery-range {
      display: none; } }

.gallery-range::-webkit-slider-thumb {
  -webkit-appearance: none; }

.gallery-range:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

.gallery-range::-ms-track {
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%; }

/* Special styling for WebKit/Blink */
.gallery-range::-webkit-slider-thumb {
  background: #636466;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
  height: 15px;
  width: 10%; }

/* All the same stuff for Firefox */
.gallery-range::-moz-range-thumb {
  background: #636466;
  border-radius: 3px;
  cursor: pointer;
  height: 15px;
  width: 10%; }

/* All the same stuff for IE */
.gallery-range::-ms-thumb {
  background: #636466;
  border-radius: 3px;
  cursor: pointer;
  height: 15px;
  width: 10%; }

.btn-previous {
  left: 10%;
  position: absolute;
  top: 45%; }

.btn-foward {
  position: absolute;
  right: 10%;
  top: 45%; }

.btn {
  background-color: #659DB5;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  -webkit-transition: background 1s cubic-bezier(0.76, 0.28, 0.3, 0.855), color 1s cubic-bezier(0.76, 0.28, 0.3, 0.855);
  -moz-transition: background 1s cubic-bezier(0.76, 0.28, 0.3, 0.855), color 1s cubic-bezier(0.76, 0.28, 0.3, 0.855);
  -o-transition: background 1s cubic-bezier(0.76, 0.28, 0.3, 0.855), color 1s cubic-bezier(0.76, 0.28, 0.3, 0.855);
  transition: background 1s cubic-bezier(0.76, 0.28, 0.3, 0.855), color 1s cubic-bezier(0.76, 0.28, 0.3, 0.855);
  /* custom */ }

.btn:hover {
  background-color: #000;
  color: #659DB5; }

.btn-invert {
  background-color: #000;
  border: 1px solid #000;
  color: #659DB5;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  -webkit-transition: background 1s cubic-bezier(0.76, 0.28, 0.3, 0.855);
  -moz-transition: background 1s cubic-bezier(0.76, 0.28, 0.3, 0.855);
  -o-transition: background 1s cubic-bezier(0.76, 0.28, 0.3, 0.855);
  transition: background 1s cubic-bezier(0.76, 0.28, 0.3, 0.855);
  /* custom */ }

.btn-invert:hover {
  background-color: #659DB5;
  color: #000; }

.btn-l {
  padding: 1% 2.2%; }

.btn-m {
  padding: 0.7% 1.5%; }

.btn-s {
  padding: 0.5% 0.8%; }

.btn-svg {
  cursor: pointer; }

.btn-svg:hover * {
  stroke: #659DB5; }

.sideNav {
  background-color: #000;
  color: white;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  top: 0;
  transition: 0.5s;
  vertical-align: middle;
  width: 0;
  z-index: 1; }

.sideNav a {
  color: #fff;
  display: inline-block;
  padding: 50px 0;
  text-decoration: none;
  transition: 0.3s; }

.sideNav a:hover {
  color: #659DB5; }

.openBtnCont {
  box-sizing: border-box;
  margin-bottom: 35px;
  position: relative;
  padding: 30px; }

.openBtn {
  color: #fff;
  font-size: 3.750em;
  position: absolute;
  right: 0;
  padding: 0 40px; }

.sideNav .closeBtn {
  position: absolute;
  top: 0;
  right: 60px;
  font-size: 3.750em;
  margin-left: 50px; }

.closeBtn {
  padding: 0 40px; }

@media screen and (max-height: 450px) {
  .sideNav {
    padding-top: 15px; }

  .sideNav a {
    font-size: 18px; } }
.mainmenu li:hover .submenu {
  display: block;
  max-height: 500px; }

.mainmenu {
  font-size: 3.750em;
  list-style: none;
  text-align: center; }

.submenu {
  font-size: 0.600em;
  color: gray;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out; }

.awardsTitle {
  color: white;
  font-size: 22px;
  font-size: 2.2rem;
  margin-top: 22px;
  text-transform: uppercase; }

.awardsItemReview {
  border: 2px solid white;
  position: relative; }

.awardsItem {
  background-color: #000;
  box-sizing: border-box;
  color: #FFF;
  display: inline-block;
  margin-top: 22px;
  padding: 16%;
  text-decoration: none;
  vertical-align: top;
  width: 100%; }
  @media screen and (min-width: 480px) {
    .awardsItem {
      padding: 10%;
      width: 49%;
      height: 450px; } }
  .awardsItem h2 {
    font-family: "Montserrat", sans-serif;
    position: relative;
    text-transform: uppercase; }
  .awardsItem a {
    background-color: #659DB5;
    color: white;
    display: inline-block;
    padding: 14px 25px;
    position: relative;
    text-align: center;
    text-decoration: none; }
  .awardsItem p {
    color: #659DB5;
    font-size: 14px;
    font-size: 1.4rem; }
    @media screen and (min-width: 480px) {
      .awardsItem p {
        font-size: 24px;
        font-size: 2.4rem; } }
  .awardsItem:last-child {
    margin-bottom: 40px; }
  .awardsItem:hover {
    background-color: #659DB5; }
    .awardsItem:hover p {
      color: white; }

.festivalItems {
  text-align: center; }
  .festivalItems h2 {
    font-size: 24px;
    font-size: 2.4rem;
    text-align: center; }
    @media screen and (min-width: 480px) {
      .festivalItems h2 {
        font-size: 36px;
        font-size: 3.6rem; } }
    .festivalItems h2:before {
      content: url("../img/laurel_1.png"); }
    .festivalItems h2:after {
      content: url("../img/laurel_2.png"); }

.newsItems h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-style: italic;
  text-align: left; }

.arrow {
  position: relative; }

.awards-buttonArrow {
  left: 100%;
  position: absolute; }

/*# sourceMappingURL=styles.css.map */
