footer {
	width: 95%;
	padding: 20px 0;
	text-align: right;

	@media screen and (min-width: 950px){
    	padding: 35px 0;
    }

	div { 
		display: inline;
	}

	p {
		display: inline;
		margin-right: 2%;
		text-align: center;
	}


	img {
		width: 10%;
		border: 1px solid #fff;

		@media screen and (min-width: 950px) {     
        	width: 3%;
			border: 1px solid #fff;
    	}
	}

	
}