header {
	padding: 6% 0;
	margin-bottom: 20%;

	@media screen and (min-width: 768px){
		padding: 4% 0;
		margin-bottom: 8%;
    }

	@media screen and (min-width: 950px) {     
        padding: 4% 0;
        margin-bottom: 18%;
    }

	img {
		width: 35%;
		float: left;

		@media screen and (min-width: 768px){
        	width: 14%
    	}

		@media screen and (min-width: 950px) {     
        	width: 16%;
    	}
	}
}