.full-wrapper {
    width: 90%;
    margin: 0 auto;
}

.home-wrapper {
    background-image: url("../img/medea2.jpg");
    background-size: cover;
    //height: 1200px;
    position: relative;
}

.cast-wrapper {
    width: 100%;

    @media screen and (min-width: 1200px) {
        margin-left: 30%;      
        width: 65%;
    }

    @media screen and (min-width: 1600px) {
        margin-left: 40%;      
        width: 65%;
    }

    aside {
        border-left: 3px solid $lightblue-accent;
        float: right;
        line-height: 1.5;
        padding: 5% 0% 0 8%;
        width: 90%;        
        
        @media screen and (min-width: 1200px) { 
            padding: 0 6%;  
            width: 60%;                     
        }

        @media screen and (min-width: 1600px) { 
            padding: 0 6%;  
            width: 65%;                     
        }
    }
}

.cast-members {
    display: inline-block;
    text-align: right;

    h3 {
        cursor: pointer;
        font-size: 20px;
        font-size: 2rem;
        margin: 0 0 20px;
    } 

    h3:hover {
        color: $lightblue-accent;
    } 
}

.crew-wrapper {
    width: 100%;

    @media screen and (min-width: 1200px) {
        margin-left: 14%;      
        width: 90%;
    }

    @media screen and (min-width: 1600px) {
        margin-left: 25%;      
        width: 75%;
    }
    aside {
        border-left: 3px solid $lightblue-accent;
        float: right;
        line-height: 1.5;
        padding: 5% 0% 0 8%;
        width: 90%;        
        
        @media screen and (min-width: 1200px) { 
            padding: 0 6%;  
            width: 45%;                     
        }

        @media screen and (min-width: 1600px) { 
            padding: 0 6%;  
            width: 50%;                     
        }
    }
}

.crew-members {
    display: inline-block;
    text-align: right;

    h3 {
        cursor: pointer;
        font-size: 20px;
        font-size: 2rem;
        margin: 0 0 20px;
    } 

    h3:hover {
        color: $lightblue-accent;
    } 
}