h1, 
h2, 
h3, 
h4 {
    color: #fff;
    font-family: $title-font;
    font-weight: 400;
    margin: 30px 0;    
}

p, a {
    font-family: $base-font;
    font-size: 16px;
    font-size: 1.6rem;
}

p {
    color: #fff;
    margin-bottom: 30px;
}

aside {
    width: 40%;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 60px;
    font-size: 6.0rem;
}

h2 {
    font-size: 33px;
    font-size: 3.3rem; 
}

h3 {
    font-size: 24px;
    font-size: 2.4rem; 
}

body {
    background-color: #000;
}