// Font
//$title-font: 'Josefin Sans', sans-serif;
$title-font: 'Josefin Sans', sans-serif;
//$secondary-font: 'Lato', sans-serif;
$base-font: 'Lato', sans-serif;

// Color
$lightblue-accent: #659DB5;