.gallery {
    position: relative;  
    text-align: center;  

    p {
        font-size: 24px;
        font-size: 2.4rem;  

        @media screen and (min-device-width: 1200px){
            left: 7%;
            position: absolute;  
            top: 50%;
        }    
    }
}

.image-container {
    box-sizing: border-box;
    height: 0px;
    margin: 0 10%;
    overflow: hidden; 
    position: relative; 
    padding-top: 60%;
    width: 80%;

    @media screen and (min-device-width: 1200px){
        width: 100%;            
    }   

    img {
        bottom: 0px;        
        display: block; //Para que tome todo el espacio desponible
        left: 0px;        
        margin: auto;        
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        right: 0px;        
        top: 0px;
        width: 90%;

        @media screen and (min-device-width: 1200px){
          margin: 0;            
        }   
    }
}

// Hides the range
.gallery-range {
  background-color: #A8A9AD;
  height: 4px;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 90%; /* Specific width is required for Firefox. */
  @media screen and (min-device-width: 1200px){
    display: none;            
  }   
}

.gallery-range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.gallery-range:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.gallery-range::-ms-track {
  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;

  cursor: pointer;
  width: 100%;  
}


/* Special styling for WebKit/Blink */
.gallery-range::-webkit-slider-thumb {
  background: #636466;  
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
  height: 15px;
  width: 10%;
}

/* All the same stuff for Firefox */
.gallery-range::-moz-range-thumb {
  background: #636466;
  border-radius: 3px;  
  cursor: pointer;
  height: 15px;
  width: 10%;
}

/* All the same stuff for IE */
.gallery-range::-ms-thumb {
  background: #636466;  
  border-radius: 3px;
  cursor: pointer;
  height: 15px;
  width: 10%;
}