.btn {
    background-color: $ligthblue-accent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    -webkit-transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855), color 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); 
    -moz-transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855), color 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); 
    -o-transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855), color 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); 
    transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855), color 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); /* custom */
}

.btn:hover {
    background-color: #000 ;
    color: $ligthblue-accent;
}

.btn-invert {
    background-color: #000;
    border: 1px solid #000;
    color: $ligthblue-accent;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    -webkit-transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); 
    -moz-transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); 
    -o-transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); 
    transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); /* custom */
}

.btn-invert:hover {
    background-color: $ligthblue-accent;
    color: #000;
}    

.btn-l {
    padding: 1% 2.2%;
}

.btn-m {
    padding: 0.7% 1.5%;
}

.btn-s {
    padding: 0.5% 0.8%;
}