.btn {
    background-color: $lightblue-accent;
    border: 1px solid $lightblue-accent;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855), color 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); /* custom */
}

.btn:hover {
    background-color: #000;
    color: $lightblue-accent;
}

.btn-invert {
    background-color: #000;
    border: 1px solid #000;
    color: $lightblue-accent;
    cursor: pointer;
    font-size: 20px;
    font-size: 2.0rem;
    text-align: center;
    transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); /* custom */
}

.btn-invert:hover {
    background-color: $lightblue-accent;
    color: #000;
}    

.btn-download {
    padding: 1.7% 2.5%;
}

.btn-svg {
    cursor: pointer;
}

.btn-svg:hover {

    * {
        stroke: $lightblue-accent;
    }
}

.btn-trailer {
    padding: 2.5% 25%;
}

.btn-close {
    cursor: pointer;
    margin-right: 3%;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}