.logos {
    margin-top: 10%;

    img {
        margin-right: 12%;
        width: 20%;
    }
    
    img:last-child{
         width: 50%
    }
}

.medea-principal {
	display: block;
	margin: auto;
	margin-top: 30%;
	width: 50%;

    @media screen and (min-width: 540px){
        margin-top: 20%;
    }

	@media screen and (min-width: 768px){
        margin-top: 15%;
    }
}