.logos {
    margin-top: 20%;

    img {
        margin-right: 5%;
        width: 10%;
    }
    
    img:last-child{
        margin-top: 3%;        
        width: 55%
    }
}

.medea-principal {
	display: block;
	margin: auto;
	margin-top: 30%;
	width: 70%;

    @media screen and (min-width: 540px){
        margin-top: 20%;
        width: 34%;
    }

	@media screen and (min-width: 768px){
        margin-top: 15%;
        width: 36%;
    }
}