.side-nav {
    background-color: #000;
    color: white;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: 0.5s;
    vertical-align: middle;
    width: 0;
    z-index: 1;

}


.side-nav a {
    color: #fff;
    display: inline-block;
    padding: 50px 0;
    text-decoration: none;
    transition: 0.3s;
}

.side-nav a:hover{
    color: $lightblue-accent;
}

.open-btn-wrapper {
    box-sizing: border-box;
    position: relative;
    padding: 30px;
}

.open-btn {
    color: #fff;
    font-size: 45px;
    font-size: 4.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 60px;
    font-size: 60px;
    font-size: 6.0rem;
    margin-left: 50px;
}

.close-btn {
    padding: 0 40px;
}

@media screen and (max-height: 450px) {
  .side-nav {padding-top: 15px;}
  .side-nav a {font-size: 18px;}
}


.mainmenu li:hover .submenu {
    display: block;
    max-height: 500px;
}

.mainmenu {
    font-size: 60px;
    font-size: 6.0rem;
    list-style: none;
    text-align: center;
}

.submenu {
    font-size: 36px;
    font-size: 3.6rem;
    color: gray;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-out;
    display: block;
}
