.side-nav {
    background-color: #000;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    vertical-align: middle;
    width: 0;
    z-index: 1;

    @media screen and (min-width: 1200px){
        background-color: transparent;
        float: right;
        height: auto;
        margin-bottom: 30px;
        overflow-x: hidden;
        padding-top: 0;
        position: static;
        vertical-align: initial;
        width: 80%;
        z-index: 1;

        li a {
            color: white;
            display: block;
            font-family: arial;
            padding: 18px;
            text-decoration: none;
            text-transform: uppercase;   
        }

        li a:hover {
            color: $lightblue-accent;
        }

        li {
            display: inline-block;
        }
    }

}

.mainmenu {
    list-style: none;
    text-align: center;

    a {
        color: #fff;
        display: inline-block;
        padding: 50px 0;
        text-decoration: none;

        &:hover {
            color: $lightblue-accent;
        }
    }

    @media screen and (min-width: 1200px){
        text-align: right;

        a {
            font-size: 14px;
            font-size: 1.4rem;
        }
    }
}

.submenu {
    font-size: 36px;
    font-size: 3.6rem;
    overflow: hidden;
    max-height: 0;

    @media screen and (min-width: 1200px){
        background-color: #000;
        display: none;
        overflow: static; 
        position: absolute;
        z-index: 1;
    
        li {
            display: block;
        } 

        a {
            font-size: 12px;
            font-size: 1.2rem;
        }
    }
}

.open-btn-wrapper {
    box-sizing: border-box;
    position: relative;
    padding: 30px;

    @media screen and (min-width: 1200px){
        display: none;
    }
}

.open-btn {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    font-size: 2.5rem;
    position: absolute;
    right: 0;
    top: 0;

    @media screen and (min-width: 1200px){
        display: none;
    }
}

.close-btn {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    font-size: 2.5rem;
    position: absolute;
    right: 60px;
    top: 7%;

     @media screen and (min-width: 1200px){
        display: none;
    }
}


li:hover .submenu {
    display: block;
    max-height: 500px;

    @media screen and (min-width: 1200px){
        text-align: left;
    }
}
