.awardsItemReview{
    border: 2px solid white;
    position: relative;
}

.awardsItem {
    background-color: #000;
    box-sizing: border-box;
    color: #FFF;
    display: inline-block;
    margin-top: 22px; 
    padding: 16%;
    text-decoration: none;
    vertical-align: top;
    width: 100%;

    @media screen and (min-width: 480px){
        padding: 10%;
        width: 49%;
        height: 450px;
    }
    
    @media screen and (min-width: 1200px){
    }

    h2 {
        font-family: $main-font;
        position: relative;
        text-transform: uppercase;
    } 

    a {
        background-color: $lightblue-accent;
        color: white;
        display: inline-block;
        padding: 14px 25px;
        position: relative;
        text-align: center;
        text-decoration: none;  
    } 

    p {
        color: $lightblue-accent;
        font-size: 14px; 
        font-size: 1.4rem; 
        //margin: 20px 0;

        @media screen and (min-width: 480px){
            font-size: 24px;
            font-size: 2.4rem;
        }
    } 

    &:last-child {
        margin-bottom: 40px;
    }  
     
    &:hover {
        background-color: $lightblue-accent;   

        p {
            color: white;
        }
    }   
}

.festivalItems {

    text-align: center;

    h2 {

        font-size: 24px;
        font-size: 2.4rem;
        text-align: center; 

        @media screen and (min-width: 480px){
            font-size: 36px;
            font-size: 3.6rem;
        }

        &:before {
            content: url('../img/laurel_1.png');
        }
    
        &:after {
            content: url('../img/laurel_2.png');
        }
    }   
}

.newsItems {

    h3{
        font-size: 18px;
        font-size: 1.8rem;
        font-style: italic;
        text-align: left;
    }
}

.arrow {
    position: relative;
}

.awards-buttonArrow {
    left: 100%;
    position: absolute;
    
}