.trailer {
    background-color: #000;

    .trailer-video {
        height: 70%;
        margin: 30% auto;
        width: 90%;   

        @media (min-width: "1200px") {
            height: 70%;
            margin: 10% auto;                
            width: 100%;          
        }     
    }
}