.vertical-text {
    display: block;   
    left: 0;     
    position: absolute;    
    top: 25%;    
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.rotate-wrapper {
    height: 580px;
    width: 100%;

    @media screen and (min-device-width: 1200px) {
        margin-left: 40%;      
        width: 60%;
    }

    h2 {
        float: left;        
        position: relative;
        width: 80px;

        @media screen and (min-device-width: 1200px) {
            width: 110px;            
        }    
    }

    span {
        display: inline-block;
        left: -50px;        
        position: absolute;
        top: 80px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        white-space: nowrap;

        @media screen and (min-device-width: 1200px) {
            top: 45px; 
        }
    }

    aside {
        border-left: 3px solid $ligthblue-accent;
        float: left;
        line-height: 1.5;
        padding: 0 8%;
        width: 55%;        
        
        @media screen and (min-device-width: 1200px) { 
            padding: 0 6%;   
        }
    }
}