.vertical-text {
    display: block;   
    left: 0;     
    position: absolute;    
    top: 25%;    
    transform: rotate(270deg);
}

.rotate-wrapper {
    width: 100%;

    @media screen and (min-width: 1200px) {
        margin-left: 40%;      
        width: 60%;
    }

    h2 {
        @media screen and (min-width: 1200px) {
            float: left;        
            position: relative;
            width: 110px;            
        }    
    }

    span {
        @media screen and (min-width: 1200px) {
            display: inline-block;
            left: -50px;        
            position: absolute;
            top: 45px;             
            transform: rotate(-90deg);
            white-space: nowrap;
        }
    }

    aside {
        border-left: 3px solid $lightblue-accent;
        line-height: 1.5;
        padding: 0 5%;
        width: 85%;        
        
        @media screen and (min-width: 1200px) { 
            margin-left: 110px;                        
            padding: 0 6%;  
            width: 70%;                     
        }
    }
}